body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
.container-header{
    background-color: #2D25A0;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    
}
.menu a, .flex a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin-right: 18px;
}
.menu-2 a{
    margin-right: 5px;
}

.menu-2{
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 2px;
    margin-right: 0;
  
}
.menu-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-1 a:hover{
    background-color: #E02C6D;
    padding: 10px 15px;
    
}
.menu-2:hover{
    background-color: #eb1161;
}
.fas{
    height: 15px;
    width: 15px;
    margin: 0px 8px;
}
.flex a{
    background-color: #E02C6D;
    padding: 12px 16px;
    border-radius: 2px;
   
}
.flex a:hover{
    background-color: #eb1161;
}
.flexcon{
    display: flex;
    margin: 0 30px;
}
@media(max-width:688px){
     
    .container-header{
        width: 100%;
    }
    .flexcon{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }
    .flex{
        margin-top: 5px;
        margin-right: 0;
    }
    .flex a{
         font-size:12px ;
    }
    .flex h1{
        margin-top: 0;
   
    }

 

}
.flex{
    width: 50%;
    margin-left: 60px;
    margin-bottom: 30px;

    
}
.flex img{
    width: 90%;
    margin-bottom: 10%;
}
.flex h1{
    font-weight: 700;
    font-size: 64px;
    color: whitesmoke;
    margin-bottom: 10%;
}
.mar{
     margin-right: 10px; 
}

.cards{

    margin: 40px 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
  
}

@media(max-width: 992px){
    .cards{
    display: grid;
    margin-left: 60px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);

    }

} 
@media(max-width: 688px){
    .cards{
    display: grid;
    margin-left: 60px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);

    }
    .menu-1, .menu-2{
        display: none;
    }
} 

.cards-item{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.cards-item h3{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
    margin-bottom: 2px;
}
.cards-item p{
    font-weight: normal;
    font-size: 16px;
}
.cards-item img{
    width: 100%;
    border-radius: 5px;
}
.footer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p{
    font-weight: 700;
    font-size: 15px;
}
.footer img{
    width: 15%;
}
.social{
    display: flex;
    margin-top: 10px;
}

.social a{
    margin: 0 5px;
}

.fab{
    color: gray
}
.fab:hover{
    color: #2D25A0;
}

.container-header:hover .flex h1{

    transform: scale(1.2);
    color: orangered;
    transition: transform .4s ease-in-out, color 1s;


}
.container-header:hover .flex img{
    transform: rotate(360deg);

    transition: transform 1s;
}
